$gray:rgba(0, 0, 0, 0.08);
$black:#212121;
$yellow:rgb(255, 250, 230);
$font_family:Georgia,
Simsun,
serif;
$border:#A0AEC0 1px solid;
$index_width:300px;
$article_width:800px;

.all {
    display: flex;
    height: 100%;
}

.index {
    width: $index_width;
    height: 100%;
    background-color: $gray;
}

.indexHeader {
    $title_height: 50px;
    $padding_top: 15px;
    padding-top: $padding_top;
    width: 100%;
    height: 120px;
    background-color: $black;

    .indexTitle {
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        height: $title_height;
        color: white;

        .titleText {
            margin-left: 10px;

            font: {
                size: 20px;
                family: $font_family;
            }
        }
    }

    .indexSearch {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        height: calc(100% - $title_height);

        .searchButton {
            margin-right: 5px;
        }
    }
}

.contentIndex {
    padding: 10px 0 5px 15px;
    border-bottom: $border;

    font: {
        size: 18px;
        family: $font_family;
        weight: bold;
    }

    color: black;
}

.articleList {
    margin: 5px 0 0 15px;
    padding-right: 5px;

    ul {
        padding-left: 10px;

        font: {
            size: 16px;
            family: $font_family;
        }

        cursor: pointer;

        li {
            &:focus ul {
                display: block;
            }

            ul {
                display: none;
                padding-left: 10px;

                font: {
                    size: 15px;
                    family: $font_family;
                }
            }
        }
    }
}

.articleBody {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: $article_width;
    height: 100%;
    // background-color: $yellow;

    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    .articleHeader {
        width: 100%;
        height: 50px;
        border-bottom: $border;

        .intro {
            position: relative;
            float: right;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 50px;

            font: {
                size: 18px;
                family: $font_family;
                weight: bold;
            }

            color: black;
        }
    }

    .article {
        padding: 30px 50px 0 50px;

        font: {
            size: 16px;
            family: $font_family;
        }

        ul {
            list-style-position: inside;

            & li ul {
                padding-left: 2em;
                list-style-position: inside;
            }
        }
    }
}

.markdown{
    // height: 100%;
    padding: 30px 40px 30px 40px;
    // background-color: pink;
}